.container {
  height: 100%;
  width: 100%;
  position: fixed;
  top:0px;
  left:0px;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 78%;
  min-height: 78%;
}
